body {
  font-family: Helvetica, arial, sans-serif;
}
.container {
  background: #f0f0f5;
  padding: 20px;
  width: 50vw;
  min-height:320px;
  margin: 0 auto;
}
.notes {
  padding: 20px;
  background: lightblue;
}
.result,
.paragraphboxYes,
.paragraphboxNo,
.messageAboutPrivilege,
.button-next,
.notes {
  display: none;
}
button {
  padding: 5px 10px;
  min-width: 80px;
  background: white;
  border: none;
}
button:hover {
  cursor: pointer;
}
button.button-yes:hover {
  background: green;
}
button.button-no:hover {
  background: red;
}

.button-yes-no--selected {
  border: 3px solid blue;
}
